@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-blue: #B4C8E3;
$border-green: #41AD51;
$bg-green: #BCF2AD;
$skill-green: #74C53C;
$letter-blue: #1250AE;
$bg-incomplete: #B3B3B3;
$bg-title-blue: #98ABC6;
$bg-grey: #E6E8EB;
$skill-blue: #F0F3FD;
$skill-complete: #FFCE56;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1{font-size: 34px;}
  h2{font-size: 30px;}
  h3{font-size: 24px;}
}

.navbar{
  background-color: #16C864;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.home{
  width: 70vw;
  margin: auto;
  height: calc(100dvh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1{
    font-weight: bold;
  }
  .keyfeatures-container{
    p{span{
      font-style: italic;
    }}
  }
  &-links{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    margin: 20px auto;
    height: 100px;
  }
}

.signup-container, .signin-container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  h2{
    font-weight: bold;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.signup-container{
  form{
    height: 400px;
  }
}

.signin-container{
  form{
    height: 250px;
  }
}

.form-input{
  width: 400px;
  padding: 0px;
  margin: 0px;
}

.webapp{
  width: 95vw;
  margin: auto;
}

.packs-container{
  background-color: #FFFFFF;
  border: 5px solid $bg-incomplete;
  border-radius: 10px;
  margin: 10px auto;
  &-title{
    margin: 0px;
    padding: 0px;
    background-color: $bg-title-blue;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
  }
}

.packs-list{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  &-icon{
    cursor: pointer;
    img{
      width: 50px;
      padding: 3px;
    }
  }
}

.container-percentage{
  background-color: $bg-incomplete;
  padding: 5px;
  font-weight: 500;
  color: $letter-blue;
}


.aspirations{
  &-container{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 5px solid $bg-incomplete;
    border-radius: 10px;
    margin: 10px auto;
  }

  &-list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 90vw;
    margin: 10px auto;

    &-item{
      background-color: $bg-blue;
      border: 3px solid white;
      min-width: 150px;
      height: 90px;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      color: $letter-blue;
      cursor: pointer;
      font-size: 14px;
      img{
        width: 45px;
        margin: auto;
      }

      &:hover{
        border: 3px solid $border-green;
        background-color: $bg-green;
        color: $border-green;
      }

      &-name{
        background: rgb(234,240,247);
        background: linear-gradient(180deg, rgba(234,240,247,1) 0%, rgba(253,253,253,1) 52%);
        text-align: center;
        font-weight: 400;
      }
    }
  }

  &-content{
    display: flex;
    margin: auto;
    &-item{
      width: 150px;
      height: 100px;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $letter-blue;
      font-size: 13px;
      cursor: pointer;
      margin: 10px;
      img{
        width: 45px;
        margin: auto;
      }
      &-packimg{
        img{
          position: absolute;
          width: 25px;
          margin: 5px;
        }
      }

      &:hover{
        color: $border-green;
      }

      &-name{
        background: rgb(234,240,247);
        background: linear-gradient(180deg, rgba(234,240,247,1) 0%, rgba(253,253,253,1) 52%);
        text-align: center;
        font-weight: 400;
        height: 35px;
      }

      &-incomplete{
        background-color: $bg-incomplete;
      }
      &-complete{
        background-color: $skill-complete;
      }
    }
  }
}

.aspirations-list-item-all{
  background-color: $bg-incomplete;
}
.aspirations-list-item-current{
  background-color: $bg-green;
  border: 3px solid $border-green;
}